@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html, body{
  background:
  linear-gradient(
    rgba(46, 123, 166, 0.6),
    rgba(46, 123, 166, 0.6)
  ),
  url("../img/test_background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-right: 40px;
}

/* INDEX ELEMENTS [START] */
.sidebar {
  display: table;
  height: 100%;
  right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  border-left: 2px solid #44CCFF;
}

.sidebar_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.sidebar_icon {
  font-size: 40px;
  display: block;
  /* When hovered */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  width: 40px;
}

.sidebar_icon:hover {
  color: #44CCFF;
}

.sidebar_color {
  color: #7fd6f6;
}

.current_section {
  color: #4a4a4a;
}

.separator {
  margin: 20px;
}

.logo_image {
  min-width: 400px;
  width: 25%;
}

.index_footer {
  color: #fff;
}
/* INDEX ELEMENTS [END] */



/* ABOUT ELEMENTS [START] */
.about_hero {
  background-color: #fff;
}

.about_grid {
  width: 100%;
}

.description_title {
  font-family: 'Roboto', sans-serif;
  color: #44CCFF;
  font-weight: bold;
  vertical-align: middle;
}

.description {
  color: #44CCFF;
  font-family: 'Open Sans', sans-serif;
}

.about_icon {
  font-size: 2rem;
  color: #44CCFF;
}

.learn {
  margin-top: 70px;
}
/* ABOUT ELEMENTS [END] */



/* PORTOIO ELEMENTS [START] */
.portoio_hero {
  background-color: #44CCFF;
}

.place_info {
  line-height: 2px;
}

#googleMaps{
	pointer-events: none;
	height: 400px;
  	width: 100%;
}
/* PORTOIO ELEMENTS [END] */



/* CONTACT ELEMENTS [START] */
.contact_hero {
  background-color: #35FF69;
}

.social_icon {
  font-size: 50px;
  color: #fff !important;
  text-decoration: none;
}
/* CONTACT ELEMENTS [END] */


/* @media properties */

@media(max-width: 768px){
	.sidebar{
		height: 70px;
		bottom: 0;
		width: 100%;
		border-left: 0;
		border-top: 2px solid #44CCFF;
	}
	
	.sidebar_wrapper{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		width: 100%;
	}
	
	.separator{
		margin: 0 20px;
	}
}