html, body{
  background:
  linear-gradient(
    rgba(46, 123, 166, 0.6),
    rgba(46, 123, 166, 0.6)
  ),
  url("../img/test_background.jpg");
	background-position: center;
	background-attachment: fixed;
}

/* INDEX ELEMENTS [START] */
.sidebar {
  display: table;
  height: 100%;
  right: 20px;
  z-index: 10;
  position: fixed;
}

.sidebar_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.sidebar_icon {
  color: #fff;
  font-size: 40px;
  display: block;
  /* When hovered */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.sidebar_icon:hover {
  color: #44CCFF;
}

.separator {
  margin: 20px;
}

.logo_image {
  min-width: 400px;
  width: 25%;
}
/* INDEX ELEMENTS [END] */



/* ABOUT ELEMENTS [START] */
.about_grid {
  width: 100%;
}

.description_title {
  color: #fff;
  font-weight: bold;
}

.description {
  color: #fff;
}

.about_icon {
  font-size: 40px;
  color: #fff;
}

.learn {
  margin-top: 70px;
}
/* ABOUT ELEMENTS [END] */
